h1 {
    font-family: "Jersey 15 Charted", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
}

.esq {
    text-align: left;
    font-family: "Jersey 15 Charted", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}

.dir {
    text-align: right;
    font-family: "Jersey 15 Charted", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}

.cen {
    text-align: center;
    font-family: "Jersey 15 Charted", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}

.jus {
    text-align: justify;
    font-family: "Jersey 15 Charted", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}