/* Configurações gerais */
* {
    padding: 0px;
    margin: 0px;
    background-color: rgb(163, 159, 159);
}

main {
    background-color: rgba(255, 255, 255, 0.91);
    text-align: center;
    width: 350px;
    height: 300px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

img {
    display: block;
    margin: auto;
}

/* Celulares */
@media screen and (max-width: 500px) {
    * {
        background-image: black url(back-celular.jpg) no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
        color: black;

    }
    img#tablet, img#pc, img#tv, img#print {
        display: none;
    }
}
